/.idea
/web/
/vendor
/mariadb-data

# Node
node_modules/

# IDEs and editors
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Dont ignore web/wp-config.php
!web/wp-config.php
# Dont ignore web/wp-content/uploads
!web/wp-content/uploads
# Dont ignore database.sql
!web/database.sql
# Dont ignore web/wp-content/plugins/advanced-custom-fields-pro
!web/wp-content/plugins/advanced-custom-fields-pro

# Logs and temporary files
*.log
*.tmp
*.bak
*.sql

# Other files
wodby.yml
*.swp
*.swo


